@model string[]

@{
    ViewData["Title"] = "Index";
}

@section pagescripts
{
    <script>
        console.log("Dit is Javascript alleen op de Home pagina");
    </script>
}

<h1>Index</h1>

<p>
    Er zijn @Model!.Length studenten
</p>

<ul>
    @foreach(string name in Model)
    {
        <li>@name</li>
    }
</ul>

<h3>Trainer</h3>

@ViewBag.TrainerName (@ViewBag.Age)

<p>
    @DateTime.Now
</p>

