@model RockLegends.Models.Artist

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Artist</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArtistID" class="control-label"></label>
                <input asp-for="ArtistID" class="form-control" />
                <span asp-validation-for="ArtistID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeginYear" class="control-label"></label>
                <input asp-for="BeginYear" class="form-control" />
                <span asp-validation-for="BeginYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndYear" class="control-label"></label>
                <input asp-for="EndYear" class="form-control" />
                <span asp-validation-for="EndYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<partial name="_Plaatje" model="Model!.Photo" />
